Language: Cpp
BasedOnStyle: Google
ColumnLimit: 180
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: Never
IncludeBlocks: Preserve
IndentPPDirectives: AfterHash
ForEachMacros: ['']
SpacesBeforeTrailingComments: 2
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
